* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: black;
}

#container {
    height: 500px;
    width: auto;
    background: GRAY;
    border-radius: 20px;
    padding: 20px;

}
#Board{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 2px;
    justify-content: center;
}
.cell{
    height: 100px;
    width: 100px;
    border: 1PX SOLID black;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: gray;
    font-size: 50px;
    color: rgb(243, 236, 236);
    font-weight: bold;
    border-radius: 10px;
}

#btn button {
    height: 55px;
    width: 180px;
    background: #ff050570;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
#button button{
    height: 55px;
    width: 180px;
    background: #59e33e70;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    margin: 27px;
    cursor: pointer;
    
}

#winner #btn button:hover {
    transform: scale(1.2);
}

#winner {
    display: none;
}

#winner #btn {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#winnerName{
    color: white;
}
#winner #btn button {
    margin-top: 20px;
}


